<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-3/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          David Front-end.
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          Transformando ideas en código para construir un futuro digital
        </h1>

        <p class="leading-relaxed mb-4">
          Construyo soluciones innovadoras utilizando las últimas tecnologías y
          herramientas de programación. Mi enfoque como programador se centra en
          transformar ideas en código funcional, aportando a proyectos que
          buscan construir un futuro digital brillante. Mi capacidad para
          integrar elementos a diversas aplicaciones informáticas y diseñar
          rutinas que contienen buenas practicas a partir de funciones me
          permite aportar de manera significativa a proyectos tecnológicos de
          vanguardia.
        </p>
      </div>
      <img
        alt="deapol"
        class="lg:w-1/2 w-28 lg:h-auto h-64 object-cover object-center rounded-full transition-transform duration-75 ease-in transform hover:scale-110"
        src="pol.jpeg"
      />
    </div>
  </div>
</section>
